/*
Rouge : #CC3333
Bleu : #3300CC
Bleu foncé : #000080;
*/

html {
	font-size: 62.5%;
}

*:hover {
	transition: all .3s ease 0s;
}

body {
	font-family: Open Sans, sans-serif;
}

h1 , h2 , h3 {

	text-align: center;
	color: #CC3333;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
	color: black;
}

header {
	color: white;

}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

header .bandeau {
	
	height: 210px;
	text-align: center;

}

#logo {

	width: 150px;
	padding: 20px;
}

header h1.titreLogo {

	font-family: 'Sedgwick Ave', cursive;
	color:  #CC3333;
	margin: 0;


}

nav.menuNav {
/*	background-color: #000080;
*/	padding: 0 20% 10px 20%;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

nav.menuNav a {
	font-family: Open Sans;
	font-size: 1.8rem;
	font-weight: bolder;
	margin: 10px 0;
	padding: 3px;
	color: #000080;

}

nav.menuNav a:hover {

	color: black;

}

/*** CHAMP RECHERCHE **/

.searchForm {

	padding: 5px 0px 5px 20px;
	background-color: rgba(200,200,200,1);
	color: grey;
	width: 250px;
	display: none;

}

.searchInput {

	width: 80%;
	border: none;
	padding-left: 0;
	background-color: rgba(200,200,200,1);

}



.layoutFooter {

	background-color: rgba(173,173,173,0.3);
	text-align: center;
	padding: 20px 0;
	margin-top: 50px;

}

.logoPetit {

	width: 80px;

}



/******** HOME PAGE **********/

div.flexslider {
	border: none;
	text-align: center;	
	max-width: 1200px;
	margin: 0 auto;

}


.flexslider .caseTitreSlider {
	opacity: 0;
}

.flexslider .caseTitreSlider p {

	margin-top: 25px;
	padding: 0;

}


/******** PAGE EQUIPE ******************************/

#titleTeam {
	text-align: center;
}

.fa-users {
	color: #CC3333;
	font-size: 4rem;
	text-align: center;
}

section.sectionEffectif {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: center;
}

.playerCard {
	width: 300px;
	text-align: center;
	border: 2px solid #CC3333; 
	border-radius: 10px;
	margin: 10px;
	box-shadow: 2px 2px 2px grey;
}

.playerCard:hover {
	background-color: rgba(0,0,0,0.05);
	transform: scale(1.05);
}

.playerCard img {

	width: 250px;
	margin: 10px auto 0 auto;
}

.h2Player {
	color: white;
	font-size: 2.5rem;
}

.h3Player {
	color: white;
	margin-top: 0;
	margin-bottom: 30px;	
	font-size: 2rem;

}
.playerCard a {
	color: #3300CC;
	width: 300px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

}

.playerCardBottom {
	background-color: #CC3333;
}

/*********** PAGE PLAYER ****************************/

#onePlayerCard {
	margin: 10px auto;
	width: 400px;
}

#onePlayerCard img {
	width: 250px;
}

#onePlayerCard #rightBlock {
	margin: 10px;
	float: right;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}


.playerInfos {
	margin: 15px 0;
	color: black;
	font-size: 1.8rem;
	font-weight: bold;
}


/*********** PAGE NEWS ****************************/

.newsFeed {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.articleNews h2 {
	height: 50px;
	color: black;
}

.articleNews img , .articleNews {
	width: 300px;
	margin: 0 auto;
}

.articleNews h3 {
	font-size: 1.5rem;
	color: grey;
}

.articleNews p {
	text-align: center;
	font-style: italic;
}

hr {
	width: 50%;
	opacity: 0.5;
}


/************************PAGE LOGIN************************/

.login , .signin {
	border: 1px solid rgba(0,0,62,0.1);
	border-radius: 5px;
	padding: 20px;
	margin: 20px auto 50px;
}

.login {
	width: 500px;
}

#seconnecter {
	width: 300px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

#seconnecter input {
	font-size: 1.8rem;
	border: 1px solid #CC3333;
	border-radius: 5px;
	margin: 10px;
	padding-left: 12px;
	height: 30px;
	color: #CC3333;
}

#seconnecter button , .signinbuttons input {
	background-color: white;
	width: 200px;
	font-size: 2rem;
	font-weight: bold;
	border: 2px solid #CC3333;
	border-radius: 5px;
	margin: 10px auto 30px;
	padding: 5px;
	color: #CC3333;
}

#seconnecter button:hover , .signinbuttons #buttonsubmit:hover {
	background-color: #CC3333;
	color: white;
}

.signin {
	width: 700px;
}

.signin li {
	list-style: none;
	margin: 5px 0;
}


.signin fieldset {
	font-size: 2rem;
	color: #CC3333;
	border: 1px solid rgba(0,0,62,0.1);
	border-radius: 5px;
	margin-bottom: 10px;
}

.signin legend {
	padding: 5px;
}


.signin label {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8rem;
	width: 200px;
	display: block;
	float: left;
}

.signin input {
	border: 1px solid grey;
	border-radius: 5px;
	padding-left: 12px;
}

.signinbuttons {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}


	/******************* TABLETTE ********************************/

	@media screen and (min-width: 768px) {

/* 	POUR FAIRE APPARAÎTRE LES TITRES SLIDER
 */
	.flexslider .caseTitreSlider {
		transition: opacity 0.3s linear;
		color: white;
		background-color: rgba(0,0,0,0.3);
		font-family: Open Sans, sans-serif;
		font-weight: bold;
		font-size: 4rem;
		text-shadow: 0px 0px 5px black;
		text-align: center;
		position: absolute;
		width: 100%;
		height: 25%;
		margin: 160px auto 0 auto;

	}

	.flexslider:hover .caseTitreSlider {
		opacity: 1;	
	}


	/*********** PAGE NEWS ****************/

		.articleNews {
			margin: 20px;

		}

		.articleNews img , .articleNews {
			width: 500px;
		}


	}




		/***************** DESKTOP ***********************************/

		@media screen and (min-width: 1025px) {

		}